
{% load static %}

<!-- <h3 class="hi">Hello zafri, how are you</h3>

<img src="{% static '/images/zafri_profile.jpeg' %}" alt="zafri" width="500px" height="500px">

<a target="_blank" href="https://icons8.com/icon/13930/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> 

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadiuzzaman</title>
    
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-picture" src="{% static '/images/zafri_profile.jpeg' %}" alt="profile-picture" >
                    <hr>
                    <h4>Hi, I am Zafri</h4>
                    <p>A Developer, Coder and Cyber Security Enthusiast</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My Learning Journey</h4>
                    <hr>
                    <p>
                        Embarking on a journey to master Data Structures and Algorithms (DSA) in C++ alongside full-stack web development with Django, web application development, and networking is a rewarding experience. Starting with the fundamentals of C++ to understand complex data structures and algorithmic problem-solving, you build a strong foundation in efficient coding. 
                    </p>
                    <p >
                        Concurrently, diving into Django for web development, learning web application design, and understanding networking principles equips you to create dynamic, robust applications and ensure seamless communication across networks. This combined expertise provides versatile and powerful skills for the tech industry.
                    </p>
                    <ul class="social-links">
                        <li><img src="{% static 'images/facebook.png'%}" alt="facebook-profile" class="social"></li>
                        <li><img src="{% static 'images/youtube.png'%}" alt="youtube-profile" class="social"></li>
                        <li><img src="{% static 'images/linkedin.png'%}" alt="linkedin-profile" class="social"></li>
                        <li><img src="{% static 'images/github.png'%}" alt="github-profile" class="social"></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>What i know as a Developer</h4>
                    <hr>
                    <p>
                        In web development, I adeptly use Django to build scalable applications, manage databases, and create RESTful APIs. I have integrated front-end technologies like HTML, CSS, and JavaScript with Django templates, as well as using frameworks such as React or Vue.js. My expertise extends to core web technologies, enabling me to develop responsive, interactive web pages. Additionally, I am experienced in using version control systems like Git to manage codebases and collaborate effectively with others. Understanding basic networking concepts and web security practices ensures my applications are secure and efficient in communication and data transmission.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>What I know as a Programmer</h4>
                    <hr>
                    <p>
                        I have a robust understanding of programming, particularly in Data Structures and Algorithms (DSA) using C++. I grasp the fundamentals of C++, including syntax, data types, control structures, and functions. I am proficient in implementing essential data structures such as arrays, linked lists, stacks, queues, trees, graphs, and hash tables. My algorithmic knowledge spans sorting, searching, and graph algorithms, with the ability to analyze their complexity using Big O notation. This strong foundation in efficient coding and problem-solving equips me to tackle a wide range of algorithmic challenges.
                    </p>
                </div>
            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>What I know from my CCNA</h4>
                    <hr>
                    <p>
                        With my CCNA (Cisco Certified Network Associate) skills, I possess a solid understanding of networking fundamentals and practical experience with various network configurations and troubleshooting. I am well-versed in IP addressing, subnetting, and VLANs, enabling me to design and implement efficient network topologies. My expertise includes configuring routers and switches, managing network protocols such as OSPF, EIGRP, and RIP, and ensuring network security through access control lists (ACLs) and network address translation (NAT). Additionally, I am skilled in diagnosing and resolving network issues, optimizing network performance, and maintaining reliable and secure network infrastructure. This comprehensive knowledge base equips me to handle complex networking challenges and contribute to robust and efficient network environments.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>What I know from my Ethical Hacking and Bug Bounty</h4>
                    <hr>
                    <p>
                        My experience in ethical hacking and bug bounty hunting has provided me with a deep understanding of cybersecurity principles and practices. I am proficient in identifying and exploiting various types of vulnerabilities, such as SQL injection, cross-site scripting (XSS), and cross-site request forgery (CSRF). Using tools like Burp Suite, Nmap, and Wireshark, I conduct thorough security assessments and penetration testing on web applications and networks. I am knowledgeable about the OWASP Top Ten vulnerabilities and apply this understanding to enhance security measures. My involvement in bug bounty programs has honed my skills in responsibly disclosing security flaws, collaborating with development teams to mitigate risks, and continuously learning about new and evolving threats. This expertise allows me to effectively protect systems and applications against malicious attacks while contributing to a safer digital environment.
                    </p>
                    
                </div>
            </div>
            
        </div>
        <br>
    </div>
    
</body>
</html>



